.about-us {
  position: relative;
  margin-top: 117px;
  display: flex;

  @include vp-1023 {
    margin-top: 75px;
    padding-bottom: 39px;
  }

  @include vp-767 {
    margin-top: 48px;
    padding-bottom: 43px;
  }
}

.about-us h2 {
  position: absolute;
  top: 52px;
  left: -70px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 9.8rem;
  line-height: 140%;
  color: transparent;
  background-image: url("../img/about-bg-desktop@1x.png");
  background-color: $color-sky-blue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-clip: text;
  transform: rotate(-90deg);
  user-select: none;

  @media (min-resolution: 2dppx) and (min-width: 1024px) {
    background-image: url("../img/about-bg-desktop@2x.png");
  }

  @include vp-1023 {
    top: 57px;
    left: -22px;
    background-image: url("../img/about-bg-tablet@1x.png");

    @include retina {
      background-image: url("../img/about-bg-tablet@2x.png");
    }
  }

  @include vp-767 {
    display: none;
  }
}

.about-us__wrapper {
  margin-left: 248px;
  padding-bottom: 120px;

  @include vp-1023 {
    margin-left: 175px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.about-us__wrapper h3 {
  margin: 0;
  margin-bottom: 1px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 51px;
  color: $color-black-pearl;

  @include vp-767 {
    font-size: 1.75rem;
    line-height: 140%;
  }
}

.about-us__wrapper p,
.about-us__wrapper span {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 138%;

  @include vp-1023 {
    padding: 12px 0 5px;
  }

  @include vp-767 {
    padding: 12px 0 6px;
    font-size: 0.88rem;
    line-height: 134%;
  }
}

.about-us__wrapper button {
  display: none;
  min-width: 180px;
  padding: 13px 12px;
  margin-top: 30px;
  vertical-align: middle;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 114%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $color-sky-blue;
  border: 1px solid $color-sky-blue;
  background: transparent;
  border-radius: 3px;
  cursor: pointer;
  user-select: none;

  @include vp-1023 {
    margin-top: 13px;
  }

  @include vp-767 {
    margin-top: 8px;
    min-width: 160px;
    padding: 7px 12px;
  }

  &:hover {
    background-color: $color-whisper-grey;
  }
}

.about-us__inner p {
  display: none;
}

.is-nojs p {
  display: block;
}

.is-active p {
  display: block;
}

@include vp-767 {
  .about-us__text-hidden {
    display: none;
  }

  .about-us__wrapper .is-nojs,
  .about-us__wrapper .is-active {
    display: inline;
  }
}
