.form input,
.form textarea {
  width: 100%;
  min-height: 50px;
  padding: 15px;
  color: $color-default-white;
  background-color: $color-darken-black-pearl--15;
  border: none;
  border-radius: 3px;

  &:hover {
    opacity: 0.8;
  }

  &::placeholder {
    color: $color-default-white;
  }
}

.form textarea {
  width: 100%;
  min-height: 155px;
  padding: 25px 15px;
  line-height: 138%;
  resize: none;

  @include vp-1023 {
    padding: 30px 15px;
  }

  @include vp-767 {
    padding: 25px 15px;
    min-height: 182px;
  }
}

.form button {
  margin-top: 33px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 12px 10px;
  padding-top: 15px;
  color: $color-default-white;
  background-color: $color-black-pearl;
  font-family: $ff-roboto-condensed;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  line-height: 118%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-darken-black-pearl--50;
  }

  @include vp-1023 {
    margin-top: 33px;
    margin-right: 55px;
    padding: 15px 10px 7px;
  }

  @include vp-767 {
    width: 100%;
    margin-top: 24px;
    margin-right: 0;
    padding: 14px 10px 11px;
  }
}

.form label {
  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.form svg {
  position: absolute;
  top: 11px;
  left: 8px;
  opacity: 0;

  @include vp-1023 {
    left: 3px;
  }

  @include vp-767 {
    top: 11px;
    left: 8px;
  }
}
