.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 21px;

  @include vp-1023 {
    padding-top: 20px;
  }

  @include vp-767 {
    padding-top: 15px;
  }
}

.nav img {
  width: 215px;
  height: 55px;

  @include vp-767 {
    width: 35px;
    height: 35px;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px 120px;
  max-width: 500px;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  margin-right: 4px;
  list-style: none;

  @include vp-1023 {
    justify-content: flex-end;
    max-width: 360px;
    gap: 15px 30px;
    padding-top: 5px;
    margin: 0;
    margin-right: 23px;
  }

  @include vp-767 {
    max-width: 210px;
    padding-top: 0;
    margin-right: 14px;
  }
}

.nav__list a {
  display: inline-grid;
  grid-template-rows: min-content;
  grid-auto-flow: column;
  column-gap: 15px;

  @include vp-1023 {
    width: 30px;
    height: 30px;
    grid-template-rows: 1fr;
    padding: 5px;
  }
}

.nav__list svg,
.nav__list span {
  align-self: center;
}

.nav__wrapper {
  @include vp-1023 {
    display: none;
  }
}

.nav__list span {
  color: $color-alice-blue;
  font-weight: 400;
  font-size: 1rem;
  line-height: 113%;
  text-transform: none;

  @include vp-1023 {
    display: none;
  }
}

.nav .nav__button {
  margin-top: 6px;
  margin-right: 60px;
  padding: 8px 16px 10px;
  color: $color-alice-blue;
  font-family: $ff-roboto-condensed;
  font-size: 0.88rem;
  line-height: 114%;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $color-alice-blue;
  border-radius: 3px;
  user-select: none;

  @include vp-1023 {
    display: none;
  }
}

/* @include vp-1023 {
  .nav__list svg {
    padding: 5px;
  }
}
 */
