.products {
  background-color: $color-black-pearl;
}

.products__wrapper {
  padding-top: 62px;
  padding-bottom: 140px;

  @include vp-1023 {
    padding-top: 55px;
    padding-bottom: 76px;
  }

  @include vp-767 {
    padding-top: 48px;
    padding-bottom: 85px;
  }
}

.products__wrapper h3 {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 142%;
  color: $color-default-white;
}

.products__span-desktop {
  display: inline-block;
  vertical-align: middle;

  @include vp-767 {
    display: none;
  }
}

.products__span-mobile {
  display: none;

  @include vp-767 {
    display: inline-block;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 1.75rem;
    line-height: 140%;
  }
}

.products__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 85px;
  margin-top: 54px;

  @include vp-1279 {
    gap: 35px 32px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    row-gap: 30px;
    margin-top: 37px;
  }

  @include vp-767 {
    margin-top: 29px;
  }
}

.products__cards {
  position: relative;
  min-height: 650px;
  background-color: $color-darken-black-pearl;

  @include vp-1023 {
    min-height: 250px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.products__cards::before {
  position: absolute;
  content: "";
  z-index: 10;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 3px 0 0 0;
  background-color: $color-sky-blue;

  @include vp-767 {
    width: 39px;
    height: 40px;
  }
}

.products__cards::after {
  position: absolute;
  content: "";
  z-index: 11;
  right: 28px;
  bottom: 26px;
  padding: 2px;
  border: solid $color-default-white;
  border-width: 0 2px 2px 0;
  transform: rotate(310deg);

  @include vp-767 {
    right: 18px;
    bottom: 18px;
    padding: 2px;
    border-width: 0 1px 1px 0;
  }
}

.products__cards a::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
}

.products__cards a:focus-visible {
  outline: none;
  opacity: 0.5;
}

.products__cards h4 {
  position: relative;
  z-index: 3;
  margin: 0;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 140px;
  padding-bottom: 15px;
  font-family: $ff-roboto-condensed;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  color: $color-default-white;

  @include vp-1023 {
    padding-top: 38px;
    padding-left: 45px;
    padding-right: 20px;
  }

  @include vp-767 {
    padding-top: 25px;
    padding-left: 29px;
    padding-right: 50px;
    font-size: 1.13rem;
    line-height: 168%;
  }
}

.products__cards img {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  object-fit: cover;
  object-position: center center;
  background-size: cover;
}

.products__background {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color-darken-black-pearl--50;
}


.products__cards br {
  display: none;

  @include vp-1023 {
    display: inline;
  }
}
