.social {
  @include vp-1023 {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 15px;
    min-height: 55px;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    padding-right: 5px;
    padding-bottom: 24px;
  }
}

.social ul {
  display: flex;
  max-width: 250px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  margin-left: 11px;
  list-style: none;
  padding: 0;

  @include vp-1023 {
    justify-content: flex-end;
    max-width: 350px;
    margin-top: 5px;
  }

  @include vp-767 {
    justify-content: center;
    row-gap: 10px;
    max-width: 500px;
    margin: 16px 0 0;
  }
}

.social li {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
    margin-left: 15px;
  }

  @include vp-767 {
    margin-left: 12px;
    margin-right: 3px;
  }
}

.social__link {
  display: block;
  padding: 5px;
  width: 40px;
  height: 40px;
}

.social__icon {
  display: block;
  width: 100%;
  height: 100%;
}
