.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;

  @include vp-1279 {
    padding-left: 30px;
    padding-right: 30px;
  }

  @include vp-1023 {
    padding-left: 50px;
    padding-right: 50px;
  }

  @include vp-769 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
