// Colors
$color-whisper-grey: #ebebeb;
$color-alice-blue: #f2f5f7;
$color-sky-blue: #00b2ff;
$color-deep-sky-blue: #00b3ff;
$color-black-pearl: #041827;
$color-darken-black-pearl: #041427;

$color-darken-black-pearl--15: rgba(4, 20, 39, 0.15);
$color-darken-black-pearl--50: rgba(4, 20, 39, 0.5);
$color-white--70: rgba(255, 255, 255, 0.7);
$color-white--80: rgba(255, 255, 255, 0.8);
$color-alice-blue--70: rgba(248, 253, 255, 0.7);

// Default

$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Gradient

$blue-to-bottom:                    linear-gradient(180deg, $color-black-pearl 84.9%, $color-transparent 100%);
$pearl-to-right:                    linear-gradient(139deg, $color-darken-black-pearl--50 33.5%, $color-deep-sky-blue 33.5%);
// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        1rem;

$ff-default:                         "PT Mono", "Courier New", "Courier", monospace;

$ff-roboto-condensed:                "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
